html {
    height: 100%;
    box-sizing: border-box;
    box-shadow: inset 0 0 9000px black;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;

}

h1 {
    text-align: center;
    color: #000000;
}

#status {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333333;
}
